@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: #243e63;
    /*border: 1px solid black;*/
}

html {
    scroll-behavior: smooth;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

body {
    width: 100vw;
}

main {
    margin-bottom: 80px;
}

a {
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.no-cursor {
    cursor: no-drop;
}

.blue {
    color: #6415FF;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.header__tag {
    color: #6415FF;
}

img {
    width: 100%;
}

/* 
Landing
NAV BAR
*/

#landing {
    padding: 0 32px;
    height: 100vh;
}

nav {
    display: flex;
    padding-top: 32px;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    margin: 8px 0;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--name {
    display: flex;
    align-items: center;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    font-size: 24px;
}

.nav__links {
    display: flex;
    font-size: 16px;
    align-items: center;
    font-weight: 600;
}

.nav__link {
    margin: 0 24px;
    padding: 4px 0 0 0;
    letter-spacing: 0.35px;
}

.nav__link--login {
    margin: 0 24px 0 48px;
    padding: 4px 0 0 0;

}

.nav__link--sign-up {
    background-color: #6415ff;
    border: none;
    margin: 2px 0 0 0;
    padding: 12px 24px;
    border-radius: 100px;
    color: white;
}

/*
LANDING,
HEADER
*/

.header__container {
    display: flex;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 448px;
    height: 68px;
}

.header__email--input {
    width: 100%;
    border-radius: 100px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

input::placeholder {
    opacity: 0.5;
}

.btn {
    z-index: 2;
    background-color: #6415FF;
    border: none;
    margin: 8px;
    padding: 12px 20px;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.header__customers--title {
    margin-top: 108px;
    color: #A0AEC0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.header__img--customers {
    margin-top: 16px;
    padding-right: 36px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
    display: flex;
}

/*
Features
*/

#features {
    padding: 0 32px;
    height: 100vh;
    letter-spacing: 1.6px;
}

.features__container {
    height: fit-content;
}

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    text-align: center;
}

.section__tag {
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    font-weight: 900;
    letter-spacing: 0.025em;
    margin: 16px 0;
}

.section__description {
    max-width: 576px;
    color: #7C8BA1;
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
}

.features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    align-items: center;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 30px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    text-align: left;
    font-size: 20px;
}

.feature__para {
    color: #7C8BA1;
    margin-top: 16px;
    font-size: 14px;
    max-width: calc(634px / 3);
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
}

/*
Quality Work
*/

.quality__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.quality__row {
    display: flex;
}

.quality__textbox {
    width: 50%;
    max-width: 576px;
    padding-right: 36px;
}

.btn__learn-more {
    margin: 24px;
}

.quality__img--wrapper {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}


.quality__img {
    width: 100%;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 7px;
    bottom: 10px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: -1;
    display: block;
}

/*
Steps
*/

.steps__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    position: relative;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}

.steps__textbox {
    width: 50%;
    padding-left: 40px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #cbd5e0;
}

.step__description {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5
}

.step__para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}

/* 
Values
*/

#values {
    padding: 0 32px;
}

.values__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    width: 50%;
}

.values__img {
    width: 50%;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
    margin-right: 32px;
}

.affordable__green {
    background-color: #9ae6b4;
}

.professional__red {
    background-color: #feb2b2;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.6;
    color: #718096;
}

.btn__values {
    margin-top: 48px;
}

/*
Pricing
*/

