@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    color: #243e63;
    /*border: 1px solid black;*/
}

html {
    scroll-behavior: smooth;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

body {
    max-width: 100vw;
}

main {
    margin-bottom: 80px;
    max-width: 100vw;
}

a {
    text-decoration: none;
}


ul {
    display: flex;
}

li {
    list-style-type: none;
}

.no-cursor {
    cursor: no-drop;
}

.blue {
    color: #6415FF;
}

img {
    width: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.header__tag {
    color: #6415FF;
}

img {
    width: 100%;
}

/* 
Landing
NAV BAR
*/

#landing {
    padding: 0 32px;
    height: 100vh;
}

nav {
    display: flex;
    padding-top: 32px;
}

.container {
    padding: 96px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    margin: 8px 0;
}

.nav__logo--img {
    height: 40px;
    width: 40px;
}

.nav__logo--name {
    display: flex;
    align-items: center;
    font-weight: 900;
    margin-left: 12px;
    letter-spacing: 0.6px;
    font-size: 24px;
}

.nav__links {
    display: flex;
    font-size: 16px;
    align-items: center;
    font-weight: 600;
}

.nav__link {
    margin: 0 24px;
    padding: 4px 0 0 0;
    letter-spacing: 0.35px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--login {
    margin: 0 24px 0 48px;
    padding: 4px 0 0 0;
}

.nav__link--login:hover {
    text-decoration: underline;
}

.nav__link--sign-up {
    background-color: #6415ff;
    border: none;
    margin: 2px 0 0 0;
    padding: 12px 24px;
    border-radius: 100px;
    color: white;
}

/*
LANDING,
HEADER
*/

.header__container {
    display: flex;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__description--para {
    margin: 32px 0;
}

.header__email {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 448px;
    height: 68px;
}

.header__email--input {
    width: 100%;
    border-radius: 100px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

input::placeholder {
    opacity: 0.5;
}

.btn {
    z-index: 2;
    background-color: #6415FF;
    border: none;
    margin: 8px;
    padding: 12px 20px;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: all 300ms ease;
}

.button__start:hover,
.nav__link--sign-up:hover {
    background-color: #316efa;
}

.btn__learn-more:hover {
    scale: 101%;
    transform: translateY(-1px) translateX(1px);
}

.header__customers--title {
    margin-top: 108px;
    color: #A0AEC0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
}

.header__img--customers {
    margin-top: 16px;
    padding-right: 36px;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
    display: flex;
}

/*
Features
*/

#features {
    padding: 0 32px;
    height: 100vh;
    letter-spacing: 1.6px;
}

.features__container {
    height: fit-content;
}

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    text-align: center;
}

.section__tag {
    color: #6415ff;
    letter-spacing: 1.6px;
    font-weight: 700;
}

.section__title {
    font-weight: 900;
    letter-spacing: 0.025em;
    margin: 16px 0;
}

.section__description {
    max-width: 576px;
    color: #7C8BA1;
    font-size: 16px;
    line-height: 1.625;
    font-weight: 500;
}

.features {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    align-items: center;
}

.feature {
    width: calc(100% / 3);
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 30px 24px;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    height: 24px;
    width: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__title {
    text-align: left;
    font-size: 20px;
}

.feature__para {
    color: #7C8BA1;
    margin-top: 16px;
    font-size: 14px;
    max-width: calc(634px / 3);
    line-height: 1.5;
    font-weight: 500;
    text-align: left;
}

/*
Quality Work
*/

#quality {
    padding: 0 32px;
    height: 100vh;
}

.quality__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.quality__row {
    display: flex;
}

.quality__textbox {
    width: 50%;
    max-width: 576px;
    padding-right: 36px;
}

.btn__learn-more {
    margin: 24px;
}

.quality__img--wrapper {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}


.quality__img {
    width: 100%;
    z-index: 1;
}

.quality__grid {
    transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
    width: 80px;
    height: 80px;
    position: absolute;
    right: 7px;
    bottom: 10px;
    fill: rgb(100, 21, 255);
    --tw-text-opacity: 1;
    color: rgba(100, 21, 255, var(--tw-text-opacity));
    z-index: -1;
    display: block;
}

/*
Steps
*/

#steps {
    padding: 0 32px;
    height: 100vh;
}

.steps__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    position: relative;
}

.steps__grid {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 10rem;
    opacity: 0.8;
    z-index: -10;
    color: rgb(100, 21, 255);
    fill: currentColor;
}

.steps__textbox {
    width: 50%;
    padding-left: 40px;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
    color: #cbd5e0;
}

.step__description {
    margin-left: 24px;
    display: flex;
    flex-direction: column;
    max-width: 320px;
}

.step__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5
}

.step__para {
    color: #718096;
    font-size: 14px;
    font-weight: 500;
    line-height: 2;
}

/* 
Values
*/

#values {
    padding: 0 32px;
    height: 100vh;
}

.values__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description {
    width: 50%;
}

.values__img {
    width: 50%;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.value:nth-of-type(1) {
    margin-top: 32px;
    margin-right: 32px;
}

.value:nth-of-type(2) {
    margin-top: 32px;
    margin-right: 32px;
}

.affordable__green {
    background-color: #9ae6b4;
}

.professional__red {
    background-color: #feb2b2;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.6;
    color: #718096;
}

.btn__values {
    margin-top: 48px;
}

/*
Pricing
*/

#pricing {
    padding: 0 32px;
    height: 100vh;
}

.pricing__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.plan {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 24rem;
    text-align: center;
    color: rgb(26, 32, 44);
    background-color: rbg(255, 255, 255);
    margin-top: 4rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.plan:nth-child(2) {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan:nth-child(1) .plan__stripe, .plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: 700;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__description {
    color: #1a202c;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan__middle {
    margin-left: -2rem;
    margin-right: -2rem;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    border-top-width: 2px;
    border-bottom-width: 2px;
    padding: 2rem;
}

.plan:nth-child(1) .plan__middle, .plan:nth-child(3) .plan__middle {
    border-top: 2px solid rgb(229, 231, 235);
    border-bottom: 2px solid rgb(229, 231, 235);
}

.plan__description {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
}

.plan:nth-child(odd) .plan__name, .plan:nth-child(odd) .plan__price, .plan:nth-child(odd) .plan__description {
    color: #1a202c;
}

.plan__feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
    font-size: 16px;
    line-height: 1.5;
}

.plan__bottom {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100 21 255);
    padding: 0.75rem 2rem;
    color: rgb(247 250 252);
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
    transition: all 300ms ease;
}

.plan__button:hover {
    scale: 101%;
    transform: translateY(-1px) translateX(1px);
}

.plan:nth-child(2) .plan__name, .plan:nth-child(2) .plan__price, .plan:nth-child(2) .plan__description, .plan:nth-child(2) .plan__duration, .plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan:nth-child(2) .plan__middle {
    border-top: 2px solid rgb(102, 126, 234);
    border-bottom: 2px solid rgb(102, 126, 234);
}

.plan:nth-child(2) .plan__button {
    color: #6415ff;
    background-color: #f7fafc;
}

.plan:nth-child(3) .plan__stripe, .plan:nth-child(3) .plan__button {
    color: #f7fafc;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/*
Testimonials
*/

#testimonials {
    padding: 0 32px;
    margin-top: 96px;
}

.testimonials__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.testimonials__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.testimonials__img {
    width: 50%;
}

.testimonials__textbox {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 64px;
}

.testimonial {
    margin-top: 40px;
}

.testimonial__rating {
    margin-right: 2px;
    margin-top: 4px;
}

.testimonial__title {
    color: #4a5568;
    line-height: 1.6;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__para {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.625;
    font-size: 16px;
    color: rgb(74 85 104);
}

.testimonial__bottom {
    display: flex;
    justify-content: space-between;
}

.testimonial__profile {
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.testimonial__details {
    margin-left: 24px;
}

.testimonial__name {
    color: #4a5568;
    line-height: 1.625;
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial__role {
    color: #7c8ba1;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__buttons {
    display: flex;
    align-items: center;
}

.testimonial__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background: #edf2f7;
    border-radius: 50%;
    margin: 0 12px;
    transition: all 300ms ease;
}

.testimonial__button svg {
    width: 16px;
    height: 16px;
}

.divider {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border-right-width: 1px;
    width: 0.5px;
    background-color: #edf2f7;
    height: 20px;
}

/*
Start
*/

#start {
    padding: 0 32px;
}

#start .container {
    padding: 36px;
}

.start__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px 0;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(100, 21, 255);
}

.start__row {
    position: relative;
    overflow: hidden;
}

.start__blob--1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(-5rem, 8rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__blob--2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20rem;
    width: 20rem;
    transform: translate(5rem, -16rem);
    color: rgb(80 17 204);
    opacity: 0.5;
}

.start__textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 32px;
}

.start__title {
    color: #f7fafc;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    z-index: 2;
    width: 50%;
}

.start__buttons {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.start__button {
    padding: 20px 40px;
    border-radius: 500px;
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    line-height: 1.5;
    letter-spacing: 0.025;
    margin: 1px;
    z-index: 2;
}

.start__button:nth-child(1) {
    background: #f56565;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    margin-right: 32px;
    transition: all 300ms ease;
}

.start__button:nth-child(2) {
    border: 1px solid rgb(160, 174, 192);
    transition: all 300ms ease;
}
.start__button:nth-child(1):hover {
    background: #f64848;
}

.start__button:nth-child(2):hover {
    background-color: white;
    color: rgb(100, 21, 255); 
}

/*
Footer
*/

footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}

.footer__blob--1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 320px;
    transform: translateX(-80px) translateY(-128px);
    z-index: 1;
    opacity: 0.5;
}

.footer__blob--2 {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 320px;
    transform: translateX(128px) translateY(192px);
    z-index: 1;
    opacity: 0.5;
}

.footer__columns {
    margin-top: -48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer__column {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.footer__column--title {
    font-weight: 700;
    color: #f7fafc;
    line-height: 1.5;
}

.footer__column--link {
    color: #f7fafc;
    font-size: 14px;
    margin-top: 12px;
    line-height: 1.5;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.footer__column--link:nth-child(2) {
    margin-top: 24px;
}

.footer__divider {
    width: 100%;
    height: 2px;
    margin: 64px 0;
    background: rgb(116, 44, 255);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    height: 32px;
    width: 32px;
}

.footer__logo--text {
    font-size: 20px;
    color: #f7fafc;
    font-weight: 900;
    margin-left: 8px;
    letter-spacing: 0.05em;
}

.footer__copyright {
    color: #cbd5e0;
    font-weight: 500;
}

.footer__socials {
    display: flex;
    align-items: center;
    margin-left: -16px;
}

.footer__social--link {
    margin-left: 16px;
    padding: 8px;
    background: #f7fafc;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    transition: all 300ms ease;
}

.footer__social--link svg {
    height: 16px;
    width: 16px;
}

